
body {
    background-image: url(../asset/background-login1.png);
    font-family: Poppins;
}

/* Login */

.login-container .page-login {
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #FCFCFC 60%, #D8C9AD 40%);
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, .65);
}

.btn {
    background-color: #A99269;
    color: white;
}

.login-container .card {
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .20);
}